% DES431 Project 2: Recommendation System

# Background

**MovieLens** is a movie recommendation system operated by GroupLens, a research group at the University of Minnesota. 

# Task

1. Propose and implement your own recommendation system based on the MovieLens dataset. Use `ratings_train.csv` as the training set, `ratings_valid.csv` as the validation set. Your system may use information from `movies.csv` and `tags.csv` to conduct recommendations. The undisclosed test set will be used to evaluate your system.
   - The data file structure is available at https://files.grouplens.org/datasets/movielens/ml-latest-small-README.html. 
   - The main goal of the recommendation system is to minimize the root-mean-square error.
   - The implementation should include a function named `predict_rating`. This function accepts a DataFrame with two columns `userId` and `movieId`. Then, the function adds a column named `rating` storing a predicted rating of a `movieId` by a `userId`.
   - Your program must return a root-mean-square error value when the validation set is changed to another file. Otherwise, your score will be deducted by 50%.
   - You must modify the given program to make better recommendations. Submitting the original program without modification is considered plagiarism.
2. Prepare slides for a 7-minute presentation to explain your proposed technique and algorithm to conduct recommendation, and show your RMSE results on the validation set.
3. Submit all required documents by April 30, 2023; 23:59. Late submission will not be accepted and will be marked 0. Do not wait until the last minute. Plagiarism and code duplication will be checked. 
4. Present your work on May 1, 2023 within 7 minutes. Exceeding 7 minutes will be subject to point deduction.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import imdb
import requests
import tmdb

# Loading data

In [4]:
ratings_train = pd.read_csv('ratings_train.csv')
ratings_valid = pd.read_csv('ratings_valid.csv')
movies = pd.read_csv('movies.csv')
tags = pd.read_csv('tags.csv',usecols=["userId","movieId","tag"])
links = pd.read_csv('links.csv')

In [5]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [6]:
tags

      userId  movieId               tag
0          2    60756             funny
1          2    60756   Highly quotable
2          2    60756      will ferrell
3          2    89774      Boxing story
4          2    89774               MMA
...      ...      ...               ...
3678     606     7382         for katie
3679     606     7936           austere
3680     610     3265            gun fu
3681     610     3265  heroic bloodshed
3682     610   168248  Heroic Bloodshed

[3683 rows x 3 columns]

In [7]:
links

      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9737   193581  5476944  432131.0
9738   193583  5914996  445030.0
9739   193585  6397426  479308.0
9740   193587  8391976  483455.0
9741   193609   101726   37891.0

[9742 rows x 3 columns]

In [8]:
ratings_train

       userId  movieId  rating   timestamp
0           1        1     4.0   964982703
1           1        3     4.0   964981247
2           1        6     4.0   964982224
3           1       47     5.0   964983815
4           1       50     5.0   964982931
...       ...      ...     ...         ...
96459     610   166534     4.0  1493848402
96460     610   168248     5.0  1493850091
96461     610   168250     5.0  1494273047
96462     610   168252     5.0  1493846352
96463     610   170875     3.0  1493846415

[96464 rows x 4 columns]

In [9]:
m_df=ratings_train[["userId","movieId","rating"]].merge(movies,on="movieId")
m_df

,userId,movieId,rating,title,genres
0,1,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...
96459,610,160341,2.5,Bloodmoon (1997),Action|Thriller
96460,610,160527,4.5,Sympathy for the Underdog (1971),Action|Crime|Drama
96461,610,160836,3.0,Hazard (2005),Action|Drama|Thriller
96462,610,163937,3.5,Blair Witch (2016),Horror|Thriller
96463,610,163981,3.5,31 (2016),Horror

In [10]:
# convert genres to Array
m_genre=m_df.copy()
m_genre["genres"]=m_genre["genres"].str.split("|")
# convert array elements to string
m_genre["genres"]=m_genre["genres"].fillna("").astype("str")
m_genre

,userId,movieId,rating,title,genres
0,1,1,4.0,Toy Story (1995),"['Adventure', 'Animation', 'Children', 'Comedy..."
1,5,1,4.0,Toy Story (1995),"['Adventure', 'Animation', 'Children', 'Comedy..."
2,7,1,4.5,Toy Story (1995),"['Adventure', 'Animation', 'Children', 'Comedy..."
3,15,1,2.5,Toy Story (1995),"['Adventure', 'Animation', 'Children', 'Comedy..."
4,17,1,4.5,Toy Story (1995),"['Adventure', 'Animation', 'Children', 'Comedy..."
...,...,...,...,...,...
96459,610,160341,2.5,Bloodmoon (1997),"['Action', 'Thriller']"
96460,610,160527,4.5,Sympathy for the Underdog (1971),"['Action', 'Crime', 'Drama']"
96461,610,160836,3.0,Hazard (2005),"['Action', 'Drama', 'Thriller']"
96462,610,163937,3.5,Blair Witch (2016),"['Horror', 'Thriller']"
96463,610,163981,3.5,31 (2016),['Horror']

In [11]:
# get movie title Series
titles = movies['title']
title_S = pd.Series(movies.index, index=movies['title'])
title_S

title
Toy Story (1995)                                0
Jumanji (1995)                                  1
Grumpier Old Men (1995)                         2
Waiting to Exhale (1995)                        3
Father of the Bride Part II (1995)              4
                                             ...
Black Butler: Book of the Atlantic (2017)    9737
No Game No Life: Zero (2017)                 9738
Flint (2017)                                 9739
Bungo Stray Dogs: Dead Apple (2018)          9740
Andrew Dice Clay: Dice Rules (1991)          9741
Length: 9742, dtype: int64

In [12]:
# get genre name list
genre_name = set()
for genre in movies['genres'].str.split('|').values:
    genre_name = genre_name.union(set(genre))
genre_name

{'(no genres listed)',
 'Action',
 'Adventure',
 'Animation',
 'Children',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'IMAX',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western'}

In [13]:
# find tf-idf score of genre for  each movie
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 1),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(m_genre['genres'])
print(tfidf_matrix[:10, :10].todense())

[[0.         0.36356033 0.549949   0.50819072 0.29282185 0.
  0.         0.         0.47050776 0.        ]
 [0.         0.36356033 0.549949   0.50819072 0.29282185 0.
  0.         0.         0.47050776 0.        ]
 [0.         0.36356033 0.549949   0.50819072 0.29282185 0.
  0.         0.         0.47050776 0.        ]
 [0.         0.36356033 0.549949   0.50819072 0.29282185 0.
  0.         0.         0.47050776 0.        ]
 [0.         0.36356033 0.549949   0.50819072 0.29282185 0.
  0.         0.         0.47050776 0.        ]
 [0.         0.36356033 0.549949   0.50819072 0.29282185 0.
  0.         0.         0.47050776 0.        ]
 [0.         0.36356033 0.549949   0.50819072 0.29282185 0.
  0.         0.         0.47050776 0.        ]
 [0.         0.36356033 0.549949   0.50819072 0.29282185 0.
  0.         0.         0.47050776 0.        ]
 [0.         0.36356033 0.549949   0.50819072 0.29282185 0.
  0.         0.         0.47050776 0.        ]
 [0.         0.36356033 0.549949   0.50819072 0.29282185 0.
  0.         0.         0.47050776 0.        ]]

In [79]:
tfidf_array = tfidf_matrix.toarray()
mov_tf=movies.copy()
# Create a new dataframe column from the numpy array
mov_tf['Genre_tfidf'] = pd.Series(tfidf_array.tolist(),index=mov_tf.index)
mov_tf

,movieId,title,genres,tfidf
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,"[0.0, 0.41684567364693936, 0.5162254711770092,..."
1,2,Jumanji (1995),Adventure|Children|Fantasy,"[0.0, 0.5123612074824268, 0.0, 0.6205251727456..."
2,3,Grumpier Old Men (1995),Comedy|Romance,"[0.0, 0.0, 0.0, 0.0, 0.5709154064399099, 0.0, ..."
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,"[0.0, 0.0, 0.0, 0.0, 0.5050154397005037, 0.0, ..."
4,5,Father of the Bride Part II (1995),Comedy,"[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ..."
...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,"[0.4360100100175108, 0.0, 0.614603265870322, 0..."
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,"[0.0, 0.0, 0.682936669160916, 0.0, 0.354001550..."
9739,193585,Flint (2017),Drama,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ..."
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,"[0.5786057446426058, 0.0, 0.8156073762948541, ..."
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,"[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ..."

In [14]:
def genre_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:21]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [15]:
genre_recommendations('Toy Story (1995)').head(10)

NameError: name 'indices' is not defined

In [18]:
# get movie title and rating from IMDB
import imdb
linksIMDBID=links.copy()
linksIMDBID['imdbId'] = links['imdbId'].astype(str)

def get_movie_title_and_rating(links):
    def retrieve_info(imdbId):
        try:
            movie = ia.get_movie(imdbId)
            title = movie['title']
            rating = movie['rating']
            return title, rating
        except:
            return None, None
        
    # Apply the retrieve_info function to the imdbId column of the link_df
    movie_info = links['imdbId'].apply(retrieve_info)
    
    # Unpack the tuples into separate Series for title and rating
    movie_titles, movie_ratings = zip(*movie_info)
    
    # Return a DataFrame with the movie titles and ratings
    return pd.DataFrame({'movieId': links['movieId'], 'title': movie_titles, 'rating': movie_ratings})

# Apply the get_movie_title_and_rating function to the link DataFrame
movie_info_df = get_movie_title_and_rating(links)

In [29]:
print("Number of users = "+str(ratings_train["userId"].nunique()))
print("Number of movies = "+str(ratings_train["movieId"].nunique()))

Number of movies = 9690

In [17]:
# create user-item matrix for collaborative filtering-item based
user_item_matrix = pd.pivot_table(ratings_train, values='rating', index='userId', columns='movieId').fillna(0)
user_item_matrix
# 610 unique user - 9690 unique movie(id max at 193609)

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [106]:
from sklearn.metrics.pairwise import cosine_similarity

# compute cosine similarity
cosine_sim_matrix = cosine_similarity(user_item_matrix)
cosine_sim_matrix

array([[1.        , 0.02728287, 0.05972026, ..., 0.29109737, 0.09357193,
        0.14532081],
       [0.02728287, 1.        , 0.        , ..., 0.04621095, 0.0275654 ,
        0.10242675],
       [0.05972026, 0.        , 1.        , ..., 0.02112846, 0.        ,
        0.03211875],
       ...,
       [0.29109737, 0.04621095, 0.02112846, ..., 1.        , 0.12199271,
        0.32205486],
       [0.09357193, 0.0275654 , 0.        , ..., 0.12199271, 1.        ,
        0.05322546],
       [0.14532081, 0.10242675, 0.03211875, ..., 0.32205486, 0.05322546,
        1.        ]])

In [1]:
unseen_movie_indices = np.where(user_item_matrix.loc[cosine_sim_matrix] == 0)

NameError: name 'np' is not defined

In [ ]:
pred_ratings = []
for movie_index in unseen_movie_indices:
    weighted_sum = 0
    weight_sum = 0
    
    for user_index in similar_user_indices:
        if user_item_matrix.iloc[user_index, movie_index] != 0:
            similarity_score = cosine_sim_matrix[target_user_index, user_index]
            weighted_sum += similarity_score * user_item_matrix.iloc[user_index, movie_index]
            weight_sum += similarity_score
    
    if weight_sum != 0:
        pred_rating = weighted_sum / weight_sum
    else:
        pred_rating = 0
    
    pred_ratings.append((movie_index, pred_rating))

# Step 8: Sort and return top-N recommendations
pred_ratings_sorted = sorted(pred_ratings, key=lambda x: x[1], reverse=True)[:10]
recommended_movie_indices = [x[0] for x in pred_ratings_sorted]
recommended_movies = movies.iloc[recommended_movie_indices]

## Data preprocessing

In [19]:
# remove timestamp in ratings_train
ratings = ratings_train.copy()
ratings = ratings_train.drop('timestamp', axis=1)

# convert UserID, MovieID to categorical type
ratings['userId'] = ratings['userId'].astype('category')
ratings['movieId'] = ratings['movieId'].astype('category')
ratings

      userId movieId  rating
0          1       1     4.0
1          1       3     4.0
2          1       6     4.0
3          1      47     5.0
4          1      50     5.0
...      ...     ...     ...
96459    610  166534     4.0
96460    610  168248     5.0
96461    610  168250     5.0
96462    610  168252     5.0
96463    610  170875     3.0

[96464 rows x 3 columns]

In [ ]:
# get movie title and rating from IMDB
linksIMDBID=links.copy()
linksIMDBID['imdbId'] = links['imdbId'].astype(str)

def get_movie_title_and_rating(links):
    def retrieve_info(imdbId):
        try:
            movie = ia.get_movie(imdbId)
            title = movie['title']
            rating = movie['rating']
            return title, rating
        except:
            return None, None
        
    # Apply the retrieve_info function to the imdbId column of the link_df
    movie_info = links['imdbId'].apply(retrieve_info)
    
    # Unpack the tuples into separate Series for title and rating
    movie_titles, movie_ratings = zip(*movie_info)
    
    # Return a DataFrame with the movie titles and ratings
    return pd.DataFrame({'movieId': links['movieId'], 'title': movie_titles, 'rating': movie_ratings})

# Apply the get_movie_title_and_rating function to the link DataFrame
movie_info_df = get_movie_title_and_rating(links)

In [140]:
# Compute the cosine similarity between each pair of users
user_similarity = cosine_similarity(user_item_matrix)

# Find the top 10 most similar users to user 1
user_id = 1
similar_users = user_similarity[user_id].argsort()[::-1][1:11]

# Constructing model and predicting ratings

In [16]:
# Model construction
# avg_rating = ratings_train[['movieId', 'rating']].groupby(by='movieId').mean()
	    
# Prediction
def predict_rating(df):
    # Input: 
	# 	df = a dataframe with two columns: userId, movieId
	# Output:
	#   a dataframe with three columns: userId, movieId, rating
	return df.join(avg_rating, on='movieId')

In [17]:
# Prepare df for prediction
r = ratings_valid[['userId', 'movieId']]

# Predict ratings
ratings_pred = predict_rating(r)
ratings_pred

      userId  movieId    rating
0          4       45  3.366667
1          4       52  3.520000
2          4       58  4.062500
3          4      222  3.928571
4          4      247  3.975000
...      ...      ...       ...
2349     561   139385  3.860000
2350     561   146656  3.916667
2351     561   149406  3.416667
2352     561   160438  2.916667
2353     561   166528  3.833333

[2354 rows x 3 columns]

In [18]:
from sklearn.metrics import mean_squared_error

r_true = ratings_valid['rating'].to_numpy()
r_pred = ratings_pred['rating'].to_numpy()

rmse = mean_squared_error(r_true, r_pred, squared=False)
print(f"RMSE = {rmse:.4f}")

RMSE = 0.9171